#main{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    max-width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#heading{
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
#main-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}
input[type="text"]:focus{
    border-color: #00b894;
    box-shadow: 0 0 10px #00b894;
    outline: none;
}

.submitButton{
    background-color: rgb(137,211,16);
    padding: 10px;
    border: 0px;
    border-radius: 4px;
    width: 30%;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.submitButton:hover{
    scale: 1.1;
}
#forget{
    font-size: 12px;
    margin-left: 180px;
    color: blue;
}
#contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#other-option{
    margin-top: 10px;
    margin-left: 35px;
}

#list{
display: flex;
gap: 10px;
}
#list li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
